<a href="https://colab.research.google.com/github/Jorge-89/kmeans/blob/main/fast_API_kMEANS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


from fastapi import FastAPI, File, Form, UploadFile
from pydantic import BaseModel
import pickle
import numpy as np
import pandas as pd
from io import StringIO

app = FastAPI()

class Kmeans(BaseModel):
    edad: float 
    salario: float 
    score: float 
    

@app.post('/predict')
async def clasificadores(variables_entrada: Kmeans):
    data = variables_entrada.dict()
    loaded_model = pickle.load(open('model.pkl', 'rb'))
    data_in = [[data['edad'], data['salario'], data['score']]]
    prediction = loaded_model.predict(data_in)
    
   
            
    return int(prediction)

# uvicorn main:app --reload

#https://fastapi.tiangolo.com/
# http://127.0.0.1:8000/docs

In [ ]:
import requests
import json
new_measurement = [{
"edad": 71,
"salario": 50,
"score": 60},
{"edad": 51,
"salario": 80,
"score": 80}]

for i in range(len(new_measurement)):
    response = requests.post('http://127.0.0.1:4000/predict', json=new_measurement[i])
    print(json.loads(response.content))

1
4

In [ ]:
import requests
import json
new_measurement = [{
"edad": 71,
"salario": 50,
"score": 60},
{"edad": 51,
"salario": 80,
"score": 80},{'edad': 31, 'salario': 80, 'score': 80}]


for i in range(len(new_measurement)):
    response = requests.post('https://k-means-v1.herokuapp.com/predict', json=new_measurement[i])
    print(json.loads(response.content))
# https://dashboard.heroku.com/apps/k-means-v1

1
4
4

In [ ]:
import pandas as pd
file_path = r'C:/Users\jorge\Documents/probando.xlsx'
df = pd.read_excel(file_path)

In [ ]:
df

    nombre  edad  salario  score
0     Juan    71       50     60
1    Jorge    33       50     30
2  Daniela    31       80     80
3    pedro    20       20     30

In [ ]:
lista=[]

In [ ]:
for i in range(len(df)):
    a={"edad" : int(df["edad"][i]), "salario": int(df["salario"][i]), "score": int(df["score"][i])}
    lista.append(a)

In [ ]:
import time
%time

lista2=[]
for i in range(len(lista)):
    
    response = requests.post('https://k-means-v1.herokuapp.com/predict', json=lista[i])
    lista2.append(json.loads(response.content))
lista2

CPU times: total: 0 ns
Wall time: 0 ns

[1, 1, 4, 0]

In [ ]:
df["cluster"]=  pd.DataFrame(lista2)
df

    nombre  edad  salario  score  cluster
0     Juan    71       50     60        1
1    Jorge    33       50     30        1
2  Daniela    31       80     80        4
3    pedro    20       20     30        0